################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/zeroK-1.1/x86
/zeroK-1.1/Zero_K/Zero_K.vcxproj.user
/zeroK-1.1/Zero_K/Zero_K.vcxproj.filters
/zeroK-1.1/Zero_K/Zero_K.vcxproj
/zeroK-1.1/Zero_K/Zero_K.h
/zeroK-1.1/Zero_K/Arduino/motor.cpp
/zeroK-1.1/Zero_K.sln
