################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/visual 0_K/Zero_K/x64
/visual 0_K/x64
/visual 0_K/.vs/Zero_K/v15
/visual 0_K/Zero_K/visualFunction
